aside{
    height: 100vh;
    width: 20%;
    padding-top: 100px;
    padding-left: 15px;
    font-weight: 500;

}
.esquerdo{
    box-shadow: $sombra1;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;

    ul{
        list-style: none;
    }
    a{
        color: $cor-primariaTexto;
    }
    .asidelinks{
        li{
        height: 60px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        &:hover{
            background: rgba(0, 0, 255, 0.075);
        }
    }
}
    i{
        text-align: center;
        font-size: 1.2rem;
        width: 60px;
        color: $cor-primaria;
    }

    footer{
        border-top: 1px solid rgba(0, 0, 255, 0.192);
        padding-top: 15px;
        p{
            font-size: .8rem;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
        }
        a{
            font-size: .8rem;
        }
        li+li{
            margin-right: 20px;
        }

    }
}
.direito{
    box-shadow: $sombra1;
    h1{
        font-size: .9rem;
        font-weight: 500;
        margin-bottom: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 255, 0.192);
    }
    background: white;
    position: fixed;
    top: 0;
    right: 0;

    .sugestoes{
        .more{
            color:$cor-primaria;
        }
        .sugerido{
            a{
                font-size: .9rem;
            }
            min-height: 60px;
            display: flex;
            align-items: center;
        }
        button{
            margin-left: 20px;
        }
        img{
            width: 32px;
            height: 32px;
            margin-right: 10px;
        }
        a{
            color: $cor-primariaTexto;
        }
    }
}