header{
    position: fixed;
    top: 0;
    z-index: 3000;
    width: 100%;
    background: white;
    box-shadow: $sombra1;
    .logo{
        font-size: 1.3rem;
        font-weight: bold;
    }
    a{
        color:blue;
        &:hover{
            color: black;
            text-decoration: none;
        }
    }

    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}