.imagemredonda{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.novo-post{
    h1{
        color: #050505;
        font-weight: bold;
        margin-bottom: 25px;
        font-size: 1.3rem;
    }
    padding-top: 100px;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteudo{
        border-radius: 8px;
        box-shadow: $sombra1;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: $post-size;
        justify-content: center;
        padding: 20px 10px;
    }

    .topo{
        padding: 10px;
        display: flex;
        textarea{
            background: #e4e6eb;
            border-radius: 30px;
            border: none;
            resize: none;
            max-width: 500px;
            height: 40px;
        }
    }

    .baixo{
        padding-top: 20px;
        justify-content: center;
        .foto{
            display: flex;
            margin-right: 20px;
        }

        input{
            display: none;
        }
        button{
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 7px;
            &:hover{
                background:rgba(0, 0, 255, 0.075);;
            }
            align-items: center;
            p{
                margin: 0;
            }
            display: flex;
            background: none;
            border: none;
            i{
                color: blue;
                font-size: 1.1rem;
                margin-right: 8px;
                padding-top: 3px;
            }
            .camera{
                color:red;
            }
            .imagem{
                color:rgb(83, 151, 83);
            }
            .emotion{
                color:blue;

            }
        }
    }
    .fotocarregada{
        display: flex;
        justify-content: center;
        img{
            display: none;
            box-shadow: $sombra1;
            border-radius: 10px;
            object-fit: cover;
            height: 450px;
            width: 500px;
        }
    }
}