<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/main.css">

    <title>RedeSocialMoz</title>
</head>
<body>
    <header>
        <!--NAVBAR-->
        <div class="container d-flex align-items-center">
            <a class="logo" href="index.html">MOZABOOK</a>
            <ul class="menu nav navbar-light ml-auto pt-2 pb-2">
                <div class="container d-flex justify-content-end align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-envelope"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><img class="mr-2" src="../assets/img/profile.jpg" alt="" srcset="">Hellen John</a>
                    </li>
                </div>
            </ul>
        </div>
    </header>
    <!--modais-->
    <div class="hide overlayADDPOST"></div>
    <section class="novo-post">
        <div class="container">
            <div class="conteudo">
                    <div class="topo">
                    <img class="imagemredonda mr-3" src="../assets/img/profile.jpg" alt="" srcset="">
                    <textarea id="inputPOST" placeholder="O que estas pensando?" class="form-control"></textarea>
                    </div>
                    <div class="baixo d-flex">
                        <div class="foto">
                            <button class="newpostbtn btn">
                                <i class="camera fas fa-video"></i>
                                <p>Video</p>
                            </button>
                        </div>
                        <div class="foto">
                            <button class="newpostbtn btn">
                                <i class="imagem fas fa-images"></i>
                                <p>Foto da Galeria</p>
                            </button>
                        </div>
                        <div class="foto">
                            <button class="newpostbtn btn">
                                <i class="emotion fas fa-camera"></i>
                                <p>Abrir Camera</p>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <section class="feed">
        <div class="postagem">
            <div class="container">
                <div class="post">
                    <div class="topo">
                        <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                        <div class="autoredata">
                            <h1 class="autorpost">Hellen John<span class="text-muted autornick">@hellen1998</span></h1>
                            <h3 class="text-muted post-time">23 de Outubro de 2020</h3>
                        </div>
                    </div>
                    <div class="conteudo">
                        <p>Que bom é voltar a estarmos juntos ❤️</p>
                    </div>
                    <div class="foto">
                        <img src="../assets/img/profile.jpg" alt="" srcset="">
                    </div>
                    <div class="baixopost">
                        <button class="likes"><i class="far fa-heart"></i>368 gostos</button>
                        <button class="coment"><i class="far fa-comment"></i>26 comentarios</button>
                        <button class="guardar"><i class="far fa-bookmark"></i></button>
                    </div>
                    <div class="comentarios">
                        <div class="comentar">
                            <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                            <input class="form-control" type="text" placeholder="Escreva um comentario...">
                        </div>
                        <div class="comentario">
                            <img class="imagemredonda" src="../assets/img/profile2.jpg" alt="" srcset="">
                            <div class="comentarioconteudo">
                                <a href="#">Hellen John</a>
                                <p>Gostei da futo muito boa!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="topo">
                        <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                        <div class="autoredata">
                            <h1 class="autorpost">Hellen John<span class="text-muted autornick">@hellen1998</span></h1>
                            <h3 class="text-muted post-time">23 de Outubro de 2020</h3>
                        </div>
                    </div>
                    <div class="conteudo">
                        <p>Que bom é voltar a estarmos juntos ❤️</p>
                    </div>
                    <div class="foto">
                        <img src="../assets/img/profile.jpg" alt="" srcset="">
                    </div>
                    <div class="baixopost">
                        <button class="likes"><i class="far fa-heart"></i>368 gostos</button>
                        <button class="coment"><i class="far fa-comment"></i>26 comentarios</button>
                        <button class="guardar"><i class="far fa-bookmark"></i></button>
                    </div>
                    <div class="comentarios">
                        <div class="comentar">
                            <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                            <input class="form-control" type="text" placeholder="Escreva um comentario...">
                        </div>
                        <div class="comentario">
                            <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                            <div class="comentarioconteudo">
                                <a href="#">Hellen John</a>
                                <p>Gostei da futo muito boa!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="esquerdo">
        <ul class="asidelinks">
            <li><a href="#"><i class="fas fa-user"></i>Perfil</a></li>
            <li><a href="#"><i class="fas fa-user-friends"></i>Amigos</a></li>
            <li><a href="#"><i class="fas fa-users"></i>Amigos</a></li>
            <li><a href="#"><i class="fas fa-history"></i>Minha Actividade</a></li>
            <li><a href="#"><i class="fas fa-bookmark"></i>Guardados</a></li>
        </ul>
        <footer>
            <ul>
                <li><a class="text-muted" href="">Sobre</a></li>
                <li><a class="text-muted" href="">Ajuda</a></li>
                <li><a class="text-muted" href="">Privacidade</a></li>
                <li><a class="text-muted" href="">Contas</a></li>
                <li><a class="text-muted" href="">Lingua</a></li>
            </ul>
            <p class="text-muted">&copy;2020 Mozagram por Victor Viageiro </p>
        </footer>
    </aside>
    <aside class="direito">
        <h1>Pessoas que talvez conhecas</h1>
        <div class="sugestoes">
            <div class="sugerido">
                <a href=""><img class="imagemredonda" src="../assets/img/profile.jpg" alt="">Hellen John</a>
                <button class="btn btn-primary btn-sm"><i class="fas fa-user-plus"></i></button>
            </div>
            <div class="sugerido">
                <a href=""><img class="imagemredonda" src="../assets/img/profile.jpg" alt="">Hellen John</a>
                <button class="btn btn-primary btn-sm"><i class="fas fa-user-plus"></i></button>
            </div>
            <div class="sugerido">
                <a href=""><img class="imagemredonda" src="../assets/img/profile.jpg" alt="">Hellen John</a>
                <button class="btn btn-primary btn-sm"><i class="fas fa-user-plus"></i></button>
            </div>
            <div class="sugerido">
                <a href=""><img class="imagemredonda" src="../assets/img/profile.jpg" alt="">Hellen John</a>
                <button class="btn btn-primary btn-sm"><i class="fas fa-user-plus"></i></button>
            </div>
            <div class="sugerido">
                <a href=""><img class="imagemredonda" src="../assets/img/profile.jpg" alt="">Hellen John</a>
                <button class="btn btn-primary btn-sm"><i class="fas fa-user-plus"></i></button>
            </div>
            <a class="more" href="#">Ver Mais</a>
        </div>
    </aside>

    <!--MODAIS-->
    <!--Adicionar novo Post-->
    <div class="hide modalNovoPost">
        <form action="">
            <i class="close fas fa-times"></i>
            <h1 class="titulo">Criar Publicação</h1>
            <div class="autor">
                <img class="imagemredonda" src="../assets/img/profile2.jpg" alt="" srcset="">
                <div class="infoautor">
                    <h1>Jose Coimbra</h1>
                    <select class="form-control" name="privacidade" id="">
                        <option value="0">Publico</option>
                        <option value="1">Somente Amigos</option>
                        <option value="2">Privado</option>
                    </select>
                </div>
            </div>
            <div class="conteudo-texto">
                <textarea name="textoPOST" id="modalINPUT" placeholder="Em que estas a pensar,Hellen John?" class="form-control"></textarea>
            </div>
            <div class="previewimagem">
                <i class="resetFoto fas fa-times"></i>
                <img id="fotoModal" src="" alt="" srcset="">
            </div>
            <div class="conteudo-media">
                <p>Adicionar à tua publicação:</p>
                <button class="btn newpostbtn"><i class="video fas fa-video"></i></button>
                <button class="btn newpostbtn"><i class="imagem fas fa-image"></i></button>
                <button class="btn newpostbtn"><i class="camera fas fa-camera"></i></button>
            </div>
            <input id="inputFoto" name="foto" type="file">
            <button type="submit" class="btn btn-primary">Publicar</button>
        </form>
    </div>


    <!--Javascript-->
    <script src="/assets/javascript/main.js"></script>
</body>
</html>