<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/main.css">

    <title>RedeSocialMoz</title>
</head>
<body>
    <header>
        <!--NAVBAR-->
        <div class="container d-flex align-items-center">
            <a href="index.html">RedeSocial</a>
            <ul class="menu nav navbar-light ml-auto pt-2 pb-2">
                <div class="container d-flex justify-content-end align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-envelope"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><img class="mr-2" src="../assets/img/profile.jpg" alt="" srcset="">Hellen John</a>
                    </li>
                </div>
            </ul>
        </div>
    </header>
    <section class="novo-post">
        <div class="container">
            <div class="conteudo">
                    <div class="topo">
                    <img class="imagemredonda mr-3" src="../assets/img/profile.jpg" alt="" srcset="">
                    <textarea placeholder="O que estas pensando?" class="form-control"></textarea>
                    </div>
                    <div class="baixo d-flex">
                        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                        <div class="foto">
                            <button>
                                <i class="camera fas fa-camera"></i>
                            </button>
                            <p>Abrir a Camera</p>
                        </div>
                        <div class="foto">
                            <button>
                                <i class="imagem fas fa-images"></i>
                            </button>
                            <p>Foto/Video</p>
                        </div>
                        <div class="foto">
                            <button>
                                <i class="emotion fas fa-smile-wink"></i>
                            </button>
                            <p>A sentir-me</p>
                        </div>
                    </div>
                    <div class="fotocarregada">
                        <img src="../assets/img/profile.jpg" alt="" srcset="">
                    </div>
            </div>
        </div>
    </section>
    <section class="feed">
        <div class="postagem">
            <div class="container">
                <div class="post">
                    <div class="topo">
                        <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                        <div class="autoredata">
                            <h1 class="autorpost">Hellen John<span class="text-muted autornick">@hellen1998</span></h1>
                            <h3 class="text-muted post-time">23 de Outubro de 2020</h3>
                        </div>
                    </div>
                    <div class="conteudo">
                        <p>Que bom é voltar a estarmos juntos ❤️</p>
                    </div>
                    <div class="foto">
                        <img src="../assets/img/profile.jpg" alt="" srcset="">
                    </div>
                    <div class="baixopost">
                        <button class="likes"><i class="far fa-heart"></i>368 gostos</button>
                        <button class="coment"><i class="far fa-comment"></i>26 comentarios</button>
                        <button class="guardar"><i class="far fa-bookmark"></i></button>
                    </div>
                    <div class="comentarios">
                        <div class="comentar">
                            <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                            <input class="form-control" type="text" placeholder="Escreva um comentario...">
                        </div>
                        <div class="comentario">
                            <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                            <div class="comentarioconteudo">
                                <a href="#">Hellen John</a>
                                <p>Gostei da futo muito boa!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="topo">
                        <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                        <div class="autoredata">
                            <h1 class="autorpost">Hellen John<span class="text-muted autornick">@hellen1998</span></h1>
                            <h3 class="text-muted post-time">23 de Outubro de 2020</h3>
                        </div>
                    </div>
                    <div class="conteudo">
                        <p>Que bom é voltar a estarmos juntos ❤️</p>
                    </div>
                    <div class="foto">
                        <img src="../assets/img/profile.jpg" alt="" srcset="">
                    </div>
                    <div class="baixopost">
                        <button class="likes"><i class="far fa-heart"></i>368 gostos</button>
                        <button class="coment"><i class="far fa-comment"></i>26 comentarios</button>
                        <button class="guardar"><i class="far fa-bookmark"></i></button>
                    </div>
                    <div class="comentarios">
                        <div class="comentar">
                            <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                            <input class="form-control" type="text" placeholder="Escreva um comentario...">
                        </div>
                        <div class="comentario">
                            <img class="imagemredonda" src="../assets/img/profile.jpg" alt="" srcset="">
                            <div class="comentarioconteudo">
                                <a href="#">Hellen John</a>
                                <p>Gostei da futo muito boa!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>